<div class="text-white">
    <h3>Duyuru Ekle</h3>
    <form #duyuruForm="ngForm" (ngSubmit)="duyuruEkleSubmit(duyuruForm)">
        <div class="mb-1">
            <label for="duyuruName" class="form-label">Duyuru Başlığı</label>
            <input required minlength="5" [(ngModel)]="duyuruValueModel.duyuruName" type="text" #duyuruName="ngModel" name="duyuruName" class="form-control">
            <div class="text-warning mt-1" *ngIf="duyuruName.invalid && duyuruName.touched && duyuruName.dirty">
                Başlık en az 5 karakter olmalıdır
            </div>
        </div>
        <div class="mb-3">
            <label for="duyuruKapak" class="form-label"  > Duyuru Kapak Fotoğrafı Url'si</label>
            <input  required minlength="1" [(ngModel)]="duyuruValueModel.duyuruKapak" type="text" name="duyuruKapak" class="form-control">
        </div>
        <div class="mb-3">
            <label for="dyrimage1" class="form-label">Duyuru detayı 1. foto url'si</label>
            <input required minlength="1" [(ngModel)]="duyuruValueModel.dyrimage1" type="text" name="dyrimage1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="dyrimage2" class="form-label">Duyuru detayı 2. foto url'si</label>
            <input required minlength="1" [(ngModel)]="duyuruValueModel.dyrimage2" type="text" name="dyrimage2" class="form-control">
        </div>
        <div class="mb-3">
            <label for="dyrimage3" class="form-label">Duyuru detayı 3. foto url'si</label>
            <input required minlength="1" [(ngModel)]="duyuruValueModel.dyrimage3" type="text" name="dyrimage3" class="form-control">
        </div>
        <div class="mb-3">
            <label for="duyuruAciklama" class="form-label">Duyuru Açıklaması</label>
            <textarea required minlength="1" [(ngModel)]="duyuruValueModel.duyuruAciklama" type="text" name="duyuruAciklama" class="form-control"></textarea>
        </div>
        <div class="form-check form-switch mb-3">
            <input [(ngModel)]="duyuruValueModel.isActive" class="form-check-input" type="checkbox" role="switch" name="isActive" id="isActive">
            <label class="form-check-label" for="flexSwitchCheckDefault">Görülebilir</label>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="duyuruForm.invalid">Duyuru Ekle</button>
        <div class="alert alert-success" *ngIf="duyuruMsg">{{duyuruMsg}}</div>
    </form>
</div>

