    <div class="text-white">
        <h3 class="">Konvoy ekle</h3>
        <form #galeriForms="ngForm" (ngSubmit)="galeriEkleSubmit(galeriForms)">
            <div class="mb-1">
                <label for="name" class="form-label">Konvoy Başlığı</label>
                <input required minlength="5" [(ngModel)]="galeriValueModel.name" #KonvoyName="ngModel" type="text" name="name" id="name" class="form-control">
                <div class="text-warning mt-1" *ngIf="KonvoyName.invalid && KonvoyName.touched && KonvoyName.dirty">
                    Başlık en az 5 karakter olmalıdır
                </div>
            </div>
            <div class="mb-3">
                <label for="aracsayisi" class="form-label">Araç Sayısı</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.aracsayisi" name="aracsayisi" id="aracsayisi" class="form-control">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Kapak Resmi</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.imageUrl" name="imageUrl" id="imageUrl" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image1Url" class="form-label">İçeriğin 1. resmi</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.image1Url" name="image1Url" id="image1Url" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image2Url" class="form-label">İçeriğin 2. resmi</label>
                <input  required minlength="1"  type="text" [(ngModel)]="galeriValueModel.image2Url" name="image2Url" id="image2Url" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image4Url" class="form-label">İçeriğin 3. resmi</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.image3Url" name="image3Url" id="image3Url" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image4Url" class="form-label">İçeriğin 4. resmi</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.image4Url" name="image4Url" id="image4Url" class="form-control">
            </div>
            <div class="mb-3">
                <label for="videoUrl" class="form-label">İçeriğin video url'si</label>
                <input  required minlength="1" type="text" [(ngModel)]="galeriValueModel.videoUrl" name="videoUrl" id="videoUrl" class="form-control">
            </div>
            <div class="mb-3">
                <label for="aciklama" class="form-label">Konvoy Açıklaması</label>
                <textarea  required minlength="1" [(ngModel)]="galeriValueModel.aciklama" name="aciklama" id="aciklama" class="form-control"></textarea>
            </div>
            <div class="form-check form-switch mb-3">
                <input  class="form-check-input" [(ngModel)]="galeriValueModel.isActive" type="checkbox" role="switch" name="isActive" id="isActive">
                <label class="form-check-label" for="flexSwitchCheckDefault">Görülebilir</label>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="galeriForms.invalid">Konvoy Ekle</button>
        </form>
        <div class="alert alert-success" *ngIf="galeriMsg">{{galeriMsg}}></div>
    </div>

