<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand navbar-title text-danger" routerLink="/">AYINTAP LOGISTIC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item navbar-smallmenu">
          <a class="nav-link yan-menu text-danger" aria-current="page" routerLink="/biz-kimiz" title="Biz Kim miyiz?">Biz Kimiz?</a>
        </li>
        <li class="nav-item navbar-smallmenu">
          <a class="nav-link yan-menu text-danger" aria-current="page" routerLink="/sende-aramiza-katil" title="Seni de aramızda görmrek istiyoruz">Ekibimize Katıl</a>
        </li>
        <li class="nav-item navbar-smallmenu">
          <a class="nav-link yan-menu text-danger" routerLink="/duyurular" title="Duyurular">Duyurular</a>
        </li>
        <li class="nav-item navbar-smallmenu">
          <a class="nav-link yan-menu text-danger" routerLink="/galeri" title="Galeri">Galeri</a>
        </li>
        <li class="nav-item navbar-smallmenu">
          <a class="nav-link yan-menu text-danger" routerLink="/twitch" title="Yayın yapmay seviyoruz">Twitch Ekibimiz</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <a href="https://truckersmp.com/vtc/1347"><img src="/assets/logo/truckersmp-logo-sm.png"></a>
      </div>
    </div>
  </div>
</nav>





<!-- <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand navbar-title text-danger navbar-title" routerLink="/">Ayıntap Logistics</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-1" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item navbar-smallmenu">
            <a class="nav-link yan-menu text-danger" aria-current="page" routerLink="/biz-kimiz" title="Konvoylarımız">Biz Kimiz?</a>
          </li>
          <li class="nav-item navbar-smallmenu">
            <a class="nav-link yan-menu text-danger" aria-current="page" routerLink="/sende-aramiza-katil" title="Seni de aramızda görmrek istiyoruz">Ekibimize Katıl</a>
          </li>
          <li class="nav-item navbar-smallmenu">
            <a class="nav-link yan-menu text-danger" routerLink="/duyurular" title="Duyurular">Duyurular</a>
          </li>
          <li class="nav-item navbar-smallmenu">
            <a class="nav-link yan-menu text-danger" routerLink="/galeri" title="Galeri">Galeri</a>
          </li>
          <li class="nav-item navbar-smallmenu">
            <a class="nav-link yan-menu text-danger" routerLink="/twitch" title="Yayın yapmay seviyoruz">Twitch Ekibimiz</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="https://truckersmp.com/vtc/1347"><img src="/assets/logo/truckersmp-logo-sm.png"></a>
        </div>
      </div>
    </div>
  </nav> -->
