

<div class="card mb-3" *ngIf="icerik else noIcerik">
    <div>
        <div class="row">
            <div class="col-3">
                <img src="{{ icerik.imageUrl }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-8 ">
                <div class="card-body">
                    <h5 class="card-title mb-0">{{ icerik.name }}</h5>
                    <h6 class="mb-0">Araç Sayısı : {{ icerik.aracsayisi }}</h6>
                    <h6 class="card-text" >{{ icerik.aciklama }}</h6>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">
                <img src="{{ icerik.image1Url }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-3">
                <img src="{{ icerik.image2Url }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-3">
                <img src="{{ icerik.image3Url }}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-3">
                <img src="{{ icerik.image4Url }}" alt="" class="img-fluid rounded-start">
            </div>
        </div>
        <div class="mb-3 row">
            <iframe class="d-flex" width="560" height="315" src="https://www.youtube.com/embed/{{icerik.videoUrl}}"></iframe>
        </div>
    </div>
</div> 

<ng-template #noIcerik> 
    <div class="alert alert-warning">
        <div class="d-flex align-items-center">
            <strong>Konvoy Detayları Yükleniyor lütfen bekleyiniz</strong>
            <div class="spinner-grow ms-auto text-primary" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden"></span>
              </div>
              <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden"></span>
              </div>
        </div>
    </div>
</ng-template>
