.form-control.ng-touched.ng-invalid {
    border-left: 7px solid #f6fa00;
}


.form-control.ng-dirty.ng-valid {
    border-left: 7px solid #00ff37;
} 

.form-control:hover  {
    background-color: #dbdbdb !important;
    transition: 0.5s;
    

}